ion-row, ion-grid{
    height: 100%;
    .login-text-panel{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        padding-bottom: 30px;
        
    }
}

