<ion-header>
	<div class="new-header">
		<ion-toolbar>			
      <ion-menu-button  class="back"><img src="../assets/menu-icon.png"></ion-menu-button>
			<span class="filter">
        <img alt="image" title="image" src="../assets/landing-image5.png">
        <span class="notification-icon"><span class="notification-count">1</span><img src="../assets/notification-icon.png"></span>
      </span>			
		</ion-toolbar>
    <ion-list>
      <ion-item>
        <div class="weather">
        <div class="weather-info">
          <div class="temp-info">
            <p class="temp">35</p>
            <ion-label>
              <p class="cf"><span>C</span> | <span>F</span></p>
            </ion-label>
          </div>
          <div class="cloud-info">
            <ion-label>
              <p>Precipitation 10%</p>
              <p><img src="../assets/cloud.png"> Humidity 56%</p>
            </ion-label>
          </div>
        </div> 
        <div class="weather-image">
          <img src="../assets/weather-icon.png">
        </div>
      </div>
      </ion-item>  
      </ion-list>
	</div>
</ion-header>
<div class="home-side-menu">
  <p class="home-side-menu-icon"><img src="../assets/bottom-menu-icon1.png"  [routerLink]="['/home']"></p>
  <ion-col>
    <div class="sidemenu-list">         
      <ion-button class="sidemenu-image">
        <img src="../assets/sidemenu1.png">
      </ion-button>
      <p>Living Room</p>
    </div>
    <div class="sidemenu-list">         
      <ion-button class="sidemenu-image">
        <img src="../assets/sidemenu2.png">
      </ion-button>
      <p>Bed Room</p>
    </div>
    <div class="sidemenu-list">         
      <ion-button class="sidemenu-image">
        <img src="../assets/sidemenu3.png">
      </ion-button>
      <p>Kitchen</p>
    </div>
    <div class="sidemenu-list">         
      <ion-button class="sidemenu-image">
        <img src="../assets/sidemenu4.png">
      </ion-button>
      <p>Add New</p>
    </div>
  </ion-col>
</div>
<ion-content>  
  <ion-grid class="">    
  <ion-row>
    <ion-col class="home-content-info">      
      <div class="ion-item">
        <img src="../assets/home-icon1.png">
        <h3>Home Camera</h3>
        <div class="bottom-panel">
          <ion-toggle></ion-toggle>
          <ion-button>
            <ion-icon name="open-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="ion-item">
        <img src="../assets/home-icon2.png">
        <h3>Bedroom Light</h3>  
        <div class="bottom-panel">
          <ion-toggle checked></ion-toggle>
          <ion-button>
            <ion-icon name="open-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="ion-item">
        <img src="../assets/home-icon1.png">
        <h3>Socket</h3>   
        <div class="bottom-panel">
          <ion-toggle></ion-toggle>
          <ion-button>
            <ion-icon name="open-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="ion-item add-panel">
        <p class="text-center">Add Device</p>
        <ion-button class="circle-button" [routerLink]="['/gateway-onboarding']">          
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>                
      </div>
    </ion-col>
  </ion-row>
</ion-grid>  
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <img src="../assets/footer-icon1.png">    
    </ion-col>
    <ion-col>
      <img src="../assets/footer-icon2.png">      
    </ion-col>
    <ion-col>
      <img src="../assets/footer-icon3.png">      
    </ion-col>
    <ion-col>
      <img src="../assets/footer-icon4.png">      
    </ion-col>
  </ion-row>    
</ion-footer>