<ion-header>
	<div class="new-header">
		<ion-toolbar>			
				<span class="back" [routerLink]="['/gateway-onboarding']"><ion-icon name="arrow-back-outline"></ion-icon></span>
				<span class="filter"><span class="notification-icon"><span class="notification-count">1</span><img src="../assets/notification-icon.png"></span></span>			
		</ion-toolbar>
	</div>
</ion-header>

<ion-content>
  <ion-grid class="">
    <!--LOGO PANEL START-->
    <ion-row>      
      <IonCol size="12" size-sm class="register-panel">
        <h2>Add Device</h2>
        <p class="center-text">Continue with your User ID & Password</p>
        <form [formGroup]="signupForm">
        <ion-item class="form-input">    
          <img alt="icon" title="icon" class="form-input-icon" src="../assets/user.png">     
          <ion-input type="text" placeholder="Device ID" inputmode="text"></ion-input>
        </ion-item>        
        <ion-item class="form-input">
          <img alt="icon" title="icon" class="form-input-icon" src="../assets/unlock.png">
          <ion-input type="password"  placeholder="Password" inputmode="text"></ion-input>
        </ion-item>
                
        <ion-button expand="block" class="full-button" [routerLink]="['/gateway']">          
          Set Now 
        </ion-button>
      </form>         
        <p class="center-text">Or Scan your device QR Code</p>  
        <img class="image-center" alt="Qr Code" title="Qr Code" [routerLink]="['/scan-now']" src="../assets/qr-code.png">
        <p class="center-text" [routerLink]="['/scan-now']">Scan Now</p>
      </IonCol>
    </ion-row>
  </ion-grid>  
</ion-content>

