<ion-header>
	<div class="new-header">
		<ion-toolbar>			
				<span class="back" [routerLink]="['/login']"><ion-icon name="arrow-back-outline"></ion-icon></span>
				<span class="filter"><span class="notification-icon"><span class="notification-count">1</span><img src="../assets/notification-icon.png"></span></span>			
		</ion-toolbar>
	</div>
</ion-header>

<ion-content>
  <ion-grid class="page-content">
    <ion-row>
      <ion-card>
        <ion-card-title>Gateway</ion-card-title>
        <ion-button class="circle-button" [routerLink]="['/gateway-onboarding']">          
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-card>
      <ion-card>
        <ion-card-title>Device</ion-card-title>
        <ion-button class="circle-button" [routerLink]="['/gateway-onboarding']">          
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-card>
      <ion-card>
        <ion-card-title>New Device</ion-card-title>
        <ion-button class="circle-button" [routerLink]="['/gateway-onboarding']">          
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-row>
  </ion-grid>    
</ion-content>
